﻿@page
@model Quest1.Pages.test.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Booking</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.Name" class="control-label"></label>
                <input asp-for="Booking.Name" class="form-control" />
                <span asp-validation-for="Booking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Email" class="control-label"></label>
                <input asp-for="Booking.Email" class="form-control" type="email" />
                <span asp-validation-for="Booking.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Mobile" class="control-label"></label>
                <input asp-for="Booking.Mobile" class="form-control" />
                <span asp-validation-for="Booking.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.LUTreatment" class="control-label"></label>
                <select asp-for="Booking.TreatmentId" class="form-control" asp-items="ViewBag.TreatmentId">
                    <option value="">-- Select Treatment --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.LUTimeSlot" class="control-label"></label>
                <select asp-for="Booking.TimeSlotId" class="form-control" asp-items="ViewBag.TimeSlotId">
                    <option value="">-- Select Time --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Note" class="control-label"></label>
                <input asp-for="Booking.Note" class="form-control" />
                <span asp-validation-for="Booking.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookedDate" class="control-label"></label>
                <input asp-for="Booking.BookedDate" class="form-control" />
                <span asp-validation-for="Booking.BookedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Go to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
