﻿@page
@model Quest1.Pages.test.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Email)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Booking.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.BookedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.BookedDate)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Booking.LUTimeSlot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.LUTimeSlot.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.LUTreatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.LUTreatment.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
