﻿@page
@model Quest1.Pages.test.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingId" />
            <div class="form-group">
                <label asp-for="Booking.Name" class="control-label"></label>
                <input asp-for="Booking.Name" class="form-control" disabled/>
                <span asp-validation-for="Booking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Email" class="control-label"></label>
                <input asp-for="Booking.Email" class="form-control" disabled     />
                <span asp-validation-for="Booking.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Mobile" class="control-label"></label>
                <input asp-for="Booking.Mobile" class="form-control" disabled />
                <span asp-validation-for="Booking.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.LUTreatment" class="control-label"></label>
                <select asp-for="Booking.LUTreatment.TreatmentTitle" class="form-control" asp-items="ViewBag.TreatmentId"></select>
                <span asp-validation-for="Booking.TreatmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.LUTimeSlot" class="control-label"></label>
                <select asp-for="Booking.LUTimeSlot.TimeSlotTitle" class="form-control" asp-items="ViewBag.TimeSlotId"></select>
                <span asp-validation-for="Booking.TimeSlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Note" class="control-label"></label>
                <input asp-for="Booking.Note" class="form-control" />
                <span asp-validation-for="Booking.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookedDate" class="control-label"></label>
                <input asp-for="Booking.BookedDate" class="form-control" disabled/>
                <span asp-validation-for="Booking.BookedDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
